.logo{
    width: 110px;
}

.first-heading{
    font-size: 80px;
    font-weight: 700;
    color: #020549;
}

.button{
    background-color: #21B573;
    color: white;
    padding:15px 30px;
    border-radius: 30px;
    border: none;
}
.button:hover{
    background-color: rgb(250, 136, 60);
}
.explore{
    color: red;
    padding-left: 20px;
    font-weight: bold;
}
.explore:hover{
   color: #21B573;
}

.pargraph{
    width: 300px;
    padding-left: 30px;
    font-size: 18px;
    color: gray;
}
.make{
    font-family: 'Geostar', cursive;
    font-size: 80px;
    color: grey;
}
.first-part{
    background-color: #E9FCF8;
}
.card-part :hover{
    transform: scale(1.1);
}
.card-part img{
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.card3{
    width: 260px;
    margin-bottom: 20px;
}
.box:hover{
    box-shadow: 5px 5px 60px lightgray;
}
.box{
    border-radius: 15px;
    padding: 50px;
}
.part3{
   background-color: #E9FCF8;
}
.page1{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
} 

.page1:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 60px lightgray;
}
.hand{
    color: #020549;
}
.card-write:hover{
    color: #21B573;
}
